/* Theme variables */
:root {
  --bg: #121212;
  --text: #e0e0e0;
  --nav-bg: #1e1e1e;
  --border: #333;
  --link: #90caf9;
  --input-bg: #1e1e1e;
  --input-border: #444;

  font-family: Calibri, "Segoe UI", Roboto, Arial, sans-serif;
}

/* Global */
body {
  margin: 0;
  background-color: var(--bg);
  color: var(--text);
}

/* Links */
a {
  color: var(--link);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Navbar */
nav {
  background-color: var(--nav-bg);
  border-bottom: 1px solid var(--border);
}

/* Inputs & buttons */
input,
button {
  background-color: var(--input-bg);
  color: var(--text);
  border: 1px solid var(--input-border);
}

button:hover {
  background-color: #2a2a2a;
}